.sort-header {
  display: flex;
  justify-content: space-between;

  i {
    cursor: pointer;
    padding: 0 2px;
  }
}

.add-new {
  justify-content: space-between;
  align-items: center;

  .group-btns {
    display: flex;
    gap: 10px;
  }

  i {
    padding: 0 2px;
  }
}

.customize-table {
  overflow-x: auto;
  width: inherit;
}

.customize-pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: center;
}

@media (max-width: 768px) {
  .customize-table {
    .btn {
      width: 100%;
    }
    .btn-edit {
      margin-bottom: 5px;
    }
  }
}
